<!doctype html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, height=device-height, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{.AssetsPrefix}}/static/favicon.ico" />
    <title>七牛单点登录</title>
    <script type="text/javascript" src="{{.AssetsPrefix}}/static/jquery.min.js"></script>
    <script type="text/javascript" src="{{.AssetsPrefix}}/static/script.js"></script>
    <link rel="stylesheet" type="text/css" href="{{.AssetsPrefix}}/static/fonts.css" />
    <link rel="stylesheet" type="text/css" href="{{.AssetsPrefix}}/static/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{.AssetsPrefix}}/static/default.css" />
    <!-- IE Fixes -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="{{.AssetsPrefix}}/static/PIE/PIE_IE678.js"></script>
    <![endif]-->
    <!--[if IE 9]>
      <script type="text/javascript" src="{{.AssetsPrefix}}/static/PIE/PIE_IE9.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{.AssetsPrefix}}/static/ie.js"></script>
</head>
<body onload="qSAMLFocus('username');">
    <div id="cover" style="display: none;"></div>
    <div id="wrap">
        <div id="dialog-forgot" class="dialog-box" style="display: none;">
            <h1>忘记密码</h1>
            <p>请联系管理员吕强强重置密码</p>
            <a href="#" class="dialog-close btn">关闭</a>
        </div>
        <div id="login-box">
            <div id="login-header">
                <div id="logo">
                    <img src="{{.AssetsPrefix}}/static/logo.png" alt="Logo" />
                </div>
	            <h1>七牛单点登录</h1>
	            <h3>即将登录: {{.Destination}}</h3>
	        </div><!-- #login-header -->
            {{$errMsg:=.ErrMsg}}
            {{$loginName:=.LoginName}}

            {{with .SAMLResp}}
            <form id="samlForm" action="{{.URL}}" method="post">
                <div class="form-controls">
                    {{with $errMsg}}
                    <p>{{.}}</p>
                    {{end}}
                    {{with $loginName}}
                    <p id="autoLoginHint">您将以 <strong>{{.}}</strong> 的身份登录...</p>
                    {{end}}
                    <p>
                        <input type="hidden" name="SAMLResponse" value="{{.SAMLResponse}}" />
                        <input type="hidden" name="RelayState" value="{{.RelayState}}" />
                    </p>
                </div>
                <p>
                    <input type="submit" class="btn btn-block btn-warning" id="samlSubmitBtn" value="使用其他身份登录" />
                </p>
            </form>
            {{end}}

            {{with .SAMLReq}}
            <form id="loginForm" action="{{.URL}}" method="post">
                <div class="form-controls">
                    {{with $errMsg}}
                    <p>{{.}}</p>
                    {{end}}
                    <p>
                        <label for="username">用户名</label>
                        <input autocorrect="off" autocapitalize="off" class="form-control" type="text" id="username" tabindex="1" placeholder="LDAP用户名" name="username"  />
                        <label for="password">密码</label>
                        <input autocorrect="off" autocapitalize="off" class="form-control" id="password" type="password" tabindex="2" name="password" placeholder="LDAP密码" />
                        <input type="hidden" name="SAMLRequest" value="{{.SAMLRequest}}" />
                        <input type="hidden" name="RelayState" value="{{.RelayState}}" />
                        {{with $loginName}}
                        <input type="hidden" name="LastLoginName" value="{{.}}" />
                        {{end}}
                    </p>
                </div>
                <p>
                    <input type="submit" class="btn btn-block" id="loginSubmitBtn" value="登录" />
                </p>
            </form>
            <div id="login-footer">
                <p><a href="#" id="link-forgot">忘记密码</a></p>
            </div>
            {{end}}
        </div>
    </div>
    {{if .SAMLResp}}
    <script>
        $(document).ready(function(){
            var $loginForm = $('#loginForm');
            var $loginBtn = $('#loginSubmitBtn');
            var $samlForm = $('#samlForm');
            var $samlBtn = $('#samlSubmitBtn');


            var autoLogin = setTimeout(function(){
                $samlForm.submit();
            }, 3000);

            $loginForm.hide();
            $samlBtn.click(function(){
                clearTimeout(autoLogin);
                $samlForm.remove();
                $loginForm.show();
            });
        });
    </script>
    {{else}}
        {{if .Retry}}
    <script>
        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp('([?&])' + key + '=.*?(&|$)', 'i');
            var separator = uri.indexOf('?') !== -1 ? '&' : '?';
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + '=' + value + '$2');
            }
            else {
                return uri + separator + key + '=' + value;
            }
        }
        var url = updateQueryStringParameter(window.location.href, 'retry', '{{.Retry}}')
        {{with .SAMLReq}}
        url = updateQueryStringParameter(url, 'SAMLRequest', encodeURIComponent('{{.SAMLRequestCompress}}'))
        url = updateQueryStringParameter(url, 'RelayState', encodeURIComponent('{{.RelayState}}'))
        {{end}}
        window.location.href = url
    </script>
        {{end}}
    {{end}}

</body>
</html>
